---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
  header?: typeof headerData;
  footer?: typeof footerData;
}
const { metadata, header = headerData, footer = footerData } = Astro.props as Props;
---

<Layout metadata={metadata}>
  <slot name="announcement"></slot>
  <slot name="header">
    <Header {...header} isSticky showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footer} />
  </slot>
</Layout>
